h1 {
  padding: 2rem;
}

h2 {
  text-align: center;
}

.card {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  outline: 1px solid rgba(0, 0, 0, 0.15);
}

.list-group {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
